<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skillhub</title>
    <link rel="stylesheet" href="/static/stylesheets/index.css">
</head>
<body>
    <header>
        <div id="container1" class="faltu">
            <img src="logo.jpeg" alt="logo" width="100px" height="100px">

        </div>
        <h1>SkillHub</h1>
        
        
        
        <ul>
            <li><a href=""> my course</a> </li>
            <li><a href="">my project</a> </li>
            <li><a href="">About</a> </li>
            <li><a href="">Games</a> </li>
             <li><a href="">Contact</a> </li>
             <li><a href="">Login</a> </li>
             <li><a href="">Signup</a> </li>
        </ul>
    </header>
    <main>
    
        <p class="faltu">Nobody does it better</p>
    </main>
    <footer>
        Copyright &copy; all rights reserved 
    </footer>
    
</body>
</html>