<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skillhub</title>
     <link rel="stylesheet" href="/static/stylesheets/index.css">
</head>
<body>
<header>
     <meta charset="UTF-8">
    <title>SkillHub - Nobody Does It Better</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        </head>

<body>
<!-- NAVBAR -->
<nav>
    <div id="container1" class="faltu">
        <img src="{{url_for('static',filename='logo.jpeg')}}" alt="logo" width="100px" height="100px" id="image">
            <div class="brand">
        <h1>SkillHub</h1>
        <p>Nobody Does It Better</p>
    </div>

    <div class="search-box">
        <input type="text" placeholder="Search courses...">
    </div>
</nav>

{% block content%}{% endblock%}
{% block courses %}{% endblock%}
{% block project%}{% endblock%}
{% block about%}{% endblock%}
{% block contact%}{%endblock%}
{% block signup%}{% endblock%}
{% block login%}{% endblock%}

<!-- HERO -->
<section class="hero">
    <h2>Learn Skills. Build Projects. Grow Faster.</h2>
    <p>Empowering students with practical knowledge and real-world experience.</p>
</section>
<!-- FOOTER -->
<footer>
    © 2026 SkillHub | Nobody Does It Better
</footer>

</body>
</html>

